.lukeevans {
    background-color:yellow;
    height: 40px;
    width: -20px;
}

body{
background-image: url("../images/backgroundimg.jpg");
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
line-height: 200%;
font-size: 18px;
text-align: justify
}

footer{
    background-color:grey;
   display: grid;
   text-align: center;
}

p {
    display:inline-start;
}

img {
    display:inline-block;
    float:left;
}

.container {
    background-color:white;
}



